* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "font1";
  src: url(../fonts/TTHovesLight.ttf);
}

@font-face {
  font-family: "bold";
  src: url(../fonts/TTHovesBold.ttf);
}

html {
  scroll-behavior: smooth;
}

.main-look-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 220px;
  height: 70px;
  background: white;
  border: none;
  font-family: 'font1';
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

.main-look-btn span {
  font-size: 20px;
  margin-left: 5px;
  position: relative;
}

.name-of-section {
  width: auto;
  font-family: font1;
  font-size: 64px;
  margin-bottom: 20px;
  font-weight: initial;
  color: #BDBDBD;
}

.link {
  width: 15%;
  width: auto;
  height: auto;
}

.link .header_btn {
  text-transform: uppercase;
  width: 230px;
  height: 50px;
  color: white;
  background: #333333;
  cursor: pointer;
  border: none;
}

.control-group {
  width: 50px;
  height: 21px;
}

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 4px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
  background: #cccccc;
}

.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #F3F3F3;
}

.control input:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 2;
  pointer-events: none;
}

.control_indicator:after {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 7px;
  top: 3px;
  width: 3px;
  height: 8px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

header {
  font-family: font1;
  text-transform: uppercase;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo img {
  width: 70px;
  height: 44px;
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .wrapper nav {
  width: 50%;
  width: auto;
  height: auto;
}

header .wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .wrapper nav ul li {
  cursor: pointer;
  margin-left: 30px;
  margin-right: 30px;
  list-style-type: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .wrapper nav ul li a {
  text-decoration: none;
  color: #333333;
}

header .wrapper nav ul li:hover {
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}

#burger-wrapper,
#menu {
  display: none;
}

#menu.active {
  width: 100%;
  height: 100vh;
  background-color: white;
  border: 1px solid black;
  z-index: 2;
  top: 0vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#menu.active #close {
  width: 30%;
  height: 25px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#menu.active #close span:first-child {
  height: 3px;
  position: absolute;
  background: #000000;
  width: 25px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu.active #close span {
  height: 3px;
  background: #000000;
  position: absolute;
  width: 25px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

#menu.active nav {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#menu.active nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 36px;
}

#menu.active nav ul li {
  list-style-type: none;
}

#menu.active nav ul li a {
  text-decoration: none;
  font-family: font1;
  font-size: 18px;
  text-align: left;
  color: #333333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu-wrapper {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  margin-top: -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-wrapper #menu-logo {
  width: 30%;
  text-align: center;
}

.menu-wrapper .link {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Main {
  font-family: font1;
  width: 80%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Main .main-left-part {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Main .main-left-part .main-text {
  width: auto;
  height: auto;
  margin-bottom: 90px;
}

.Main .main-left-part .main-text .project {
  font-size: 64px;
  color: #33333333;
}

.Main .main-left-part .main-text .nurtown {
  font-size: 64px;
  font-family: bold;
}

.Main .main-left-part .main-carousel-btns {
  width: auto;
  height: auto;
  position: relative;
  margin-bottom: 90px;
}

.Main .main-left-part .main-carousel-btns::after {
  content: "";
  position: absolute;
  top: 25px;
  width: 700px;
  height: 1px;
  background: #f2f2f2;
}

.Main .main-left-part .main-carousel-btns .btn-prev, .Main .main-left-part .main-carousel-btns .btn-next {
  width: 53px;
  height: 53px;
  background: white;
  border: 1px solid #f2f2f2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 15px;
  cursor: pointer;
}

.Main .main-left-part .main-carousel-btns .btn-prev:hover, .Main .main-left-part .main-carousel-btns .btn-next:hover {
  background: #f9f9f9;
}

.Main .main-left-part .main-carousel-counter {
  width: 140px;
  height: auto;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.Main .main-left-part .main-carousel-counter span {
  width: 43px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-bottom: 13px;
  background: #BDBDBD;
}

.Main .main-left-part .main-carousel-counter p {
  font-size: 24px;
  width: 30px;
  color: #BDBDBD;
}

.Main .main-right-part {
  z-index: 1;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Main .main-right-part .slider-container {
  overflow: hidden;
  width: 773px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Main .main-right-part .slider-container .slider-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.Main .main-right-part .slider-container .slider-track .slider-item {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Main .main-right-part .slider-container .slider-track .slider-item .block {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -3px #FFFFFF;
          box-shadow: 0px 0px 15px -3px #FFFFFF;
}

.About {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: font1;
}

.About .about-main-item {
  width: 100%;
  height: 440px;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fbfbfb;
}

.About .about-main-item .about-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.About .about-main-item .about-info .about-info-wrapper {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.About .about-main-item .about-info .about-info-wrapper p {
  width: 355px;
  height: auto;
  margin-bottom: 20px;
}

.About .about-main-item .about-info .about-info-wrapper .about-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  position: relative;
  left: 0;
  width: 220px;
  height: 70px;
  background: white;
  border: none;
  font-family: 'font1';
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

.About .about-main-item .about-info .about-info-wrapper .about-btn span {
  font-size: 20px;
  margin-left: 5px;
}

.About .about-main-item .about-photo {
  width: 50%;
}

.Tasks {
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-top: 120px;
  font-family: font1;
}

.Tasks .wrapper-tasks {
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Tasks .wrapper-tasks .tasks-block {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Tasks .wrapper-tasks .tasks-block:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Tasks .wrapper-tasks .tasks-block .number {
  font-size: 200px;
  color: #f2f2f2;
  font-family: bold;
}

.Tasks .wrapper-tasks .tasks-block p {
  margin-left: 33px;
  font-size: 22px;
  line-height: 36px;
}

.Tasks .wrapper-tasks .tasks-block .task-paragraph-right {
  width: 430px;
}

.Tasks .wrapper-tasks .tasks-block .task-paragraph-left {
  width: 260px;
}

.Projects {
  height: auto;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.Projects .projects-wrapper {
  width: 100%;
  height: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  margin-top: 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.Projects .projects-wrapper .project-item {
  width: 370px;
  height: 255px;
  position: relative;
}

.Projects .projects-wrapper .project-item:hover .overlay {
  opacity: 1;
}

.Projects .projects-wrapper .project-item .overlay {
  width: 370px;
  height: 255px;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.Projects .projects-wrapper .project-item .overlay .overlay-info {
  width: 100%;
  height: 100%;
  background: #000000a1;
}

.Projects .projects-wrapper .project-item .overlay .overlay-info a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.Projects .projects-wrapper .project-item .overlay .overlay-info a div {
  width: 333px;
  height: 255px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.Projects .projects-wrapper .project-item .overlay .overlay-info a div h3 {
  font-family: bold;
  font-size: 36px;
  margin-bottom: 36px;
  width: 230px;
}

.Projects .projects-wrapper .project-item .overlay .overlay-info a div p {
  font-size: 12px;
  font-family: font1;
  text-transform: uppercase;
}

.Projects .projects-wrapper .project-item .overlay .overlay-info a div p span {
  margin-left: 10px;
}

.Projects .project-btn-wrapper {
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Projects .project-btn-wrapper .project-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  position: relative;
  left: 0;
  width: 220px;
  height: 70px;
  background: #333333;
  color: white;
  border: none;
  font-family: 'font1';
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

.Projects .project-btn-wrapper .project-btn span {
  font-size: 20px;
  margin-left: 5px;
}

.Contact {
  width: 80%;
  height: auto;
  margin-top: 120px;
  margin: 0 auto;
}

.Contact .contact-wrapper {
  width: 100%;
  height: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Contact .contact-wrapper .contact-left-part {
  width: 34%;
  height: 500px;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs {
  width: 100%;
  height: auto;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: font1;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .name, .Contact .contact-wrapper .contact-left-part .contant-inputs form textarea {
  width: 100%;
  background: #F3F3F3;
  color: #8D8D8D;
  border: none;
  padding: 0 20px;
  font-size: 14px;
  outline: none;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .name {
  height: 46px;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form textarea {
  padding-top: 14px;
  width: 100%;
  height: 147px;
  resize: none;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 46px;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .select .option {
  padding: 0 20px 0 20px;
  font-family: 'font1';
  min-height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F3F3F3;
  border-top: #c3c3c3 solid 1px;
  position: absolute;
  top: 0;
  pointer-events: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  z-index: 1;
  -webkit-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 14px;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .select .option:hover {
  background: #cfcfcf;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .select:hover:focus .option {
  position: relative;
  pointer-events: all;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .select input {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .select input:checked + label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 2;
  background: #F3F3F3;
  border-top: none;
  position: relative;
  font-family: 'font1';
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .select input:checked + label:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #22222294;
  position: absolute;
  right: 19px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .select input:checked + label:before {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  content: '';
  background: #F3F3F3;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .checkbox-item {
  width: 460px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .checkbox-item .pre-check {
  color: #333333;
  margin-left: 16px;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .contact-submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  position: relative;
  left: 0;
  width: 220px;
  height: 70px;
  background: #333333;
  color: white;
  border: none;
  font-family: 'font1';
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.Contact .contact-wrapper .contact-left-part .contant-inputs form .contact-submit-btn span {
  font-size: 20px;
  margin-left: 5px;
  position: relative;
}

.Contact .contact-wrapper .contact-right-part {
  width: auto;
  height: 500px;
}

.pre-footer {
  width: 100%;
  height: 350px;
  color: #FFFFFF;
  background: #2C2C2C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pre-footer .pre-footer-wrapper {
  width: 80%;
  margin: 0 auto;
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pre-footer .pre-footer-wrapper .pre-footer-logo {
  width: 245px;
  height: auto;
}

.pre-footer .pre-footer-wrapper .pre-footer-info-title {
  font-family: bold;
  font-size: 16px;
}

.pre-footer .pre-footer-wrapper .pre-footer-info {
  width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pre-footer .pre-footer-wrapper .pre-footer-info ul {
  margin-top: 25px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.pre-footer .pre-footer-wrapper .pre-footer-info ul li {
  list-style-type: none;
}

.pre-footer .pre-footer-wrapper .pre-footer-info ul li a {
  font-family: font1;
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 14px;
}

.pre-footer .pre-footer-wrapper .pre-footer-contacts {
  width: 285px;
  height: auto;
}

.pre-footer .pre-footer-wrapper .pre-footer-contacts .pre-footer-contacts-wrapper {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 30px;
  font-family: font1;
}

.pre-footer .pre-footer-wrapper .pre-footer-contacts .pre-footer-contacts-wrapper .pre-footer-contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pre-footer .pre-footer-wrapper .pre-footer-contacts .pre-footer-contacts-wrapper .pre-footer-contact-item p {
  margin-left: 18px;
}

footer {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2C2C2C;
  font-family: font1;
  color: #c8c8c885;
  font-size: 12px;
  border-top: 1px solid #c8c8c885;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-title {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-title p {
  font-family: bold;
  font-size: 21px;
}

.modal .modal-title button {
  position: absolute;
  right: 0px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}

.modal .modal-title button img {
  width: 19px;
}

.modal .modal-main-part {
  width: 100%;
  height: 500px;
}

.modal .modal-main-part .modal-inputs {
  width: 100%;
  height: auto;
}

.modal .modal-main-part .modal-inputs form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: font1;
}

.modal .modal-main-part .modal-inputs form .name, .modal .modal-main-part .modal-inputs form textarea {
  width: 100%;
  background: #F3F3F3;
  color: #8D8D8D;
  border: none;
  padding: 0 20px;
  font-size: 14px;
  outline: none;
}

.modal .modal-main-part .modal-inputs form .name {
  height: 46px;
}

.modal .modal-main-part .modal-inputs form textarea {
  padding-top: 14px;
  width: 100%;
  height: 147px;
  resize: none;
}

.modal .modal-main-part .modal-inputs form .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 100%;
  height: 46px;
}

.modal .modal-main-part .modal-inputs form .select .option {
  padding: 0 20px 0 20px;
  font-family: 'font1';
  min-height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F3F3F3;
  border-top: #c3c3c3 solid 1px;
  position: absolute;
  top: 0;
  pointer-events: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  z-index: 1;
  -webkit-transition: background .4s ease-in-out;
  transition: background .4s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  color: #4a4a4a;
  font-size: 14px;
}

.modal .modal-main-part .modal-inputs form .select .option:hover {
  background: #cfcfcf;
}

.modal .modal-main-part .modal-inputs form .select:hover:focus .option {
  position: relative;
  pointer-events: all;
}

.modal .modal-main-part .modal-inputs form .select input {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

.modal .modal-main-part .modal-inputs form .select input:checked + label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  z-index: 2;
  background: #F3F3F3;
  border-top: none;
  position: relative;
  font-family: 'font1';
}

.modal .modal-main-part .modal-inputs form .select input:checked + label:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 7px solid #22222294;
  position: absolute;
  right: 19px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

.modal .modal-main-part .modal-inputs form .select input:checked + label:before {
  position: absolute;
  right: 0;
  height: 40px;
  width: 40px;
  content: '';
  background: #F3F3F3;
}

.modal .modal-main-part .modal-inputs form .checkbox-item {
  width: 390px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal .modal-main-part .modal-inputs form .checkbox-item .pre-check {
  color: #333333;
  margin-left: 16px;
}

.modal .modal-main-part .modal-inputs form .modal-submit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  position: relative;
  left: 0;
  width: 100%;
  height: 42px;
  background: #333333;
  color: white;
  border: none;
  font-family: 'font1';
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin-top: 10px;
}

.modal .modal-main-part .modal-inputs form .modal-submit-btn span {
  font-size: 20px;
  margin-left: 5px;
  position: relative;
}

.modal.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
}

.modal__block {
  position: relative;
  width: 470px;
  height: 590px;
  max-width: 640px;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1445px) {
  .Projects .projects-wrapper .project-item {
    width: 330px;
  }
  .Projects .projects-wrapper .project-item img, .Projects .projects-wrapper .project-item .overlay {
    width: 100%;
    height: 100%;
  }
  .Projects .projects-wrapper .project-item .overlay .overlay-info a div {
    width: 90%;
    height: 100%;
  }
  .Contact {
    overflow: hidden;
  }
  .Contact .contact-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
  .Contact .contact-wrapper .contact-right-part {
    width: 750px;
  }
  .Contact .contact-wrapper .contact-left-part {
    width: 390px;
    height: 500px;
  }
}

@media (max-width: 1400px) {
  .Main .main-left-part .main-text .project,
  .Main .main-left-part .main-text .nurtown {
    font-size: 50px;
  }
  .name-of-section {
    font-size: 50px;
  }
  .About .about-main-item .about-photo {
    height: 100%;
  }
  .About .about-main-item .about-photo img {
    width: 100%;
    height: 100%;
  }
  .About .about-main-item .about-info .about-info-wrapper p {
    font-size: 14px;
  }
  .Tasks .wrapper-tasks .tasks-block p {
    font-size: 18px;
  }
  .Tasks .wrapper-tasks .tasks-block .number {
    font-size: 140px;
  }
}

@media (max-width: 1300px) {
  main-look-btn,
  .Contact .contact-wrapper .contact-left-part .contant-inputs form .contact-submit-btn,
  .Projects .project-btn-wrapper .project-btn,
  .About .about-main-item .about-info .about-info-wrapper .about-btn {
    width: 190px;
    height: 50px;
    font-size: 10px;
  }
  .Main .main-right-part .slider-container .slider-track .slider-item .block img {
    width: 100%;
    height: 100%;
  }
  .Main .main-right-part,
  .Main .main-right-part .slider-container,
  .Main .main-right-part .slider-container .slider-track {
    height: 100%;
  }
  .Main .main-right-part .slider-container {
    width: 560px;
  }
  .Projects .projects-wrapper .project-item {
    width: 280px;
    height: 210px;
  }
  .Main {
    height: 77vh;
  }
  header .wrapper nav ul li {
    margin-left: 14px;
    margin-right: 14px;
    font-size: 15px;
  }
  .Projects .projects-wrapper .project-item {
    width: 288px;
    height: 230px;
  }
  .Contact .contact-wrapper .contact-left-part .contant-inputs form .checkbox-item .pre-check {
    font-size: 14px;
  }
  .Tasks .wrapper-tasks .tasks-block p {
    font-size: 14px;
  }
}

@media (max-width: 1150px) {
  header .wrapper .link .header_btn {
    width: 175px;
  }
  header .wrapper nav ul li {
    font-size: 14px;
  }
  .Main {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Main .main-left-part {
    width: 40%;
  }
  .Main .main-right-part {
    width: 60%;
  }
  .About .about-main-item .about-info .about-info-wrapper {
    width: 327px;
  }
  .About .about-main-item .about-info .about-info-wrapper p {
    width: auto;
  }
}

@media (max-width: 1105px) {
  .About .about-main-item {
    height: auto;
  }
  .Projects .projects-wrapper .project-item {
    width: 45%;
    height: auto;
  }
  .Contact .contact-wrapper .contact-left-part {
    width: 325px;
    height: 500px;
  }
  .Contact .contact-wrapper .contact-right-part img {
    width: 100%;
    height: 370px;
  }
}

@media (max-width: 1000px) {
  .Main {
    height: auto;
  }
  .Main .main-left-part .main-text,
  .Main .main-left-part .main-carousel-btns,
  .Main .main-left-part .main-carousel-counter {
    margin-bottom: 30px;
  }
  .name-of-section {
    font-size: 40px;
  }
  .Contact .contact-wrapper .contact-left-part .contant-inputs form .name {
    height: 35px;
  }
  .Contact .contact-wrapper .contact-right-part img {
    height: 338px;
  }
  .About .about-main-item .about-info .about-info-wrapper p {
    font-size: 12px;
  }
  .Projects .projects-wrapper .project-item .overlay .overlay-info a div h3 {
    font-size: 30px;
  }
  .Tasks .wrapper-tasks .tasks-block p {
    line-height: 25px;
  }
  .Main .main-left-part .main-text .project, .Main .main-left-part .main-text .nurtown {
    font-size: 40px;
  }
  .Main .main-left-part .main-carousel-counter p {
    font-size: 20px;
    width: 30px;
    color: #BDBDBD;
  }
  .Main .main-left-part .main-carousel-counter span {
    width: 35px;
  }
  .Main .main-right-part .slider-container .slider-track .slider-item .block button {
    width: 190px;
    height: 50px;
    font-size: 10px;
  }
  .About .about-main-item .about-info .about-info-wrapper {
    width: 270px;
  }
  .Tasks .wrapper-tasks {
    height: auto;
  }
  .Contact .contact-wrapper .contact-right-part img {
    height: 300px;
  }
  .Contact .contact-wrapper .contact-left-part .contant-inputs form textarea {
    height: 110px;
  }
  .Tasks .wrapper-tasks .tasks-block .number {
    font-size: 120px;
  }
  .Tasks .wrapper-tasks .tasks-block p {
    line-height: 20px;
    font-size: 13px;
  }
  .pre-footer .pre-footer-wrapper .pre-footer-contacts .pre-footer-contacts-wrapper .pre-footer-contact-item p {
    font-size: 14px;
  }
  .pre-footer .pre-footer-wrapper .pre-footer-logo {
    width: 162px;
    height: auto;
  }
  .pre-footer .pre-footer-wrapper .pre-footer-logo img {
    width: 100px;
  }
}

@media (max-width: 950px) {
  header {
    display: none;
  }
  #burger-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #burger-wrapper #burger-item {
    width: 33%;
  }
  #burger-wrapper #menu-logo {
    width: 33%;
    text-align: center;
  }
  #burger-wrapper .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 33%;
  }
  #burger {
    margin: 28px 0px 24px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #burger span {
    width: 100%;
    border-radius: 2px;
    height: 4px;
    background-color: black;
  }
}

@media (max-width: 900px) {
  .main-look-btn, .Contact .contact-wrapper .contact-left-part .contant-inputs form .contact-submit-btn, .Projects .project-btn-wrapper .project-btn, .About .about-main-item .about-info .about-info-wrapper .about-btn {
    width: 160px;
    height: 40px;
  }
  .name-of-section {
    font-size: 35px;
  }
}

@media (max-width: 800px) {
  header {
    display: none;
  }
  .Main .main-right-part .slider-container .slider-track .slider-item .block button {
    width: 149px;
    height: 40px;
    font-size: 10px;
  }
  .About .about-main-item {
    height: 280px;
  }
  .Main .main-left-part .main-carousel-btns .btn-prev, .Main .main-left-part .main-carousel-btns .btn-next {
    width: 40px;
    height: 40px;
  }
  .Main .main-left-part .main-carousel-counter span {
    width: 30px;
  }
}

@media (max-width: 700px) {
  .Main .main-left-part .main-text .project, .Main .main-left-part .main-text .nurtown {
    font-size: 34px;
  }
  .About .about-main-item,
  .Tasks {
    margin-top: 50px;
  }
  .name-of-section {
    font-size: 30px;
  }
  .About .about-main-item .about-info .about-info-wrapper {
    width: 220px;
  }
  .Tasks .wrapper-tasks .tasks-block p {
    line-height: 18px;
    font-size: 11px;
  }
  .Tasks .wrapper-tasks .tasks-block .number {
    font-size: 110px;
  }
  .Contact .contact-wrapper {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .Contact .contact-wrapper .contact-left-part {
    width: 270px;
  }
  .Contact .contact-wrapper .contact-left-part .contant-inputs form .checkbox-item .pre-check {
    font-size: 12px;
  }
  .link .header_btn {
    width: 125px;
    height: 50px;
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  #burger-wrapper,
  .menu-wrapper {
    width: 90%;
  }
  .Main {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .Main .main-left-part {
    width: 90%;
  }
  .Main .main-right-part {
    width: 100%;
    height: 470px;
  }
  .Main .main-right-part .slider-container {
    width: 100%;
  }
  .Main .main-left-part .main-carousel-btns .btn-prev, .Main .main-left-part .main-carousel-btns .btn-next {
    width: 53px;
    height: 53px;
  }
  .Main .main-left-part .main-carousel-counter p {
    font-size: 18px;
  }
  .Main .main-left-part .main-text .project, .Main .main-left-part .main-text .nurtown {
    font-size: 32px;
  }
  .About {
    width: 100%;
  }
  .About .about-main-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
    margin-top: 50px;
  }
  .About .about-main-item .about-photo,
  .About .about-main-item .about-info {
    width: 100%;
  }
  .About .about-main-item .about-photo img,
  .About .about-main-item .about-info img {
    height: 350px;
  }
  .About .about-main-item .about-info .about-info-wrapper {
    width: 90%;
    height: 250px;
  }
  .About .about-main-item .about-info .about-info-wrapper p {
    width: 88%;
  }
  .About .name-of-section {
    font-size: 32px;
  }
  .Tasks {
    width: 90%;
    margin-top: 50px;
  }
  .Tasks .wrapper-tasks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .Tasks .wrapper-tasks .tasks-block {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Tasks .wrapper-tasks .tasks-block p {
    width: auto;
  }
  .Tasks .wrapper-tasks .tasks-block:last-child {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .Main .main-left-part .main-carousel-btns::after {
    display: none;
  }
  .Tasks .wrapper-tasks .tasks-block .task-paragraph-left {
    margin-left: 55px;
  }
  .Projects {
    width: 90%;
  }
  .Projects .projects-wrapper {
    width: 100%;
  }
  .Projects .projects-wrapper .project-item {
    width: 100%;
  }
  .Projects .project-btn-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-look-btn, .Contact .contact-wrapper .contact-left-part .contant-inputs form .contact-submit-btn, .Projects .project-btn-wrapper .project-btn, .About .about-main-item .about-info .about-info-wrapper .about-btn {
    width: 200px;
    height: 50px;
    font-size: 12px;
  }
  .Contact {
    width: 90%;
  }
  .Contact .contact-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    row-gap: 20px;
  }
  .Contact .contact-wrapper .contact-left-part,
  .Contact .contact-wrapper .contact-right-part {
    width: 100%;
    height: auto;
  }
  .Contact .contact-wrapper .contact-left-part .contant-inputs form .name,
  .Contact .contact-wrapper .contact-right-part .contant-inputs form .name {
    height: 46px;
  }
  .pre-footer {
    height: auto;
  }
  .pre-footer .pre-footer-wrapper {
    width: 100%;
    height: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
  }
  .pre-footer .pre-footer-wrapper .pre-footer .pre-footer-wrapper .pre-footer-logo {
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pre-footer .pre-footer-wrapper .pre-footer-logo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pre-footer .pre-footer-wrapper .pre-footer-logo img {
    width: 129px;
  }
  .pre-footer .pre-footer-wrapper .pre-footer-info {
    width: 100%;
    text-align: center;
  }
  .pre-footer .pre-footer-wrapper .pre-footer-contacts {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .pre-footer .pre-footer-wrapper .pre-footer-contacts .pre-footer-contacts-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 500px) {
  #menu.active #close {
    width: 10%;
  }
  .menu-wrapper .link {
    width: 40%;
  }
  .menu-wrapper .link .header_btn {
    width: 145px;
  }
  .modal__block {
    width: 310px;
  }
  #burger-wrapper #burger-item {
    width: 31%;
  }
  #burger-wrapper #menu-logo {
    width: 40%;
    text-align: center;
  }
  #burger-wrapper .link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 310px;
  }
  #burger-wrapper .link button {
    width: 145px;
  }
}
/*# sourceMappingURL=style.css.map */